.starrr {
  display: inline-block; }
  .starrr a {
    font-size: 16px;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none; }
    .starrr i {
        font-size: 16px;
        padding: 0 1px;
        cursor: pointer;
        color: #FFD119;
        text-decoration: none;
    }
	
	.starempty{
		color:#d2d2d2 !important;
	}