<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
autoReload="true"
throwExceptions="false"
internalLogLevel="Off" internalLogFile="nlog-internal.log">
<variable name="myvar" value="myvalue"/>
<targets async="true">
<target xsi:type="File"
name="archive"
archiveEvery="Day"
archiveFileName = "JmeterPublishWebApi-{########}.log"
archiveNumbering = "Date"
archiveDateFormat = "yyyyMMdd"
maxArchiveFiles = "4"
fileName="${basedir}/logs/${shortdate}.log"
layout="${longdate}|${level:uppercase=true}|${logger}|${aspnet-mvc-action}|${message}|${stacktrace:format=Raw}" />
<target name="gmail" xsi:type="Mail"
smtpServer="smtp.gmail.com"
smtpPort="465"
smtpAuthentication="Basic"
smtpUserName="themoviemb@gmail.com"
smtpPassword="ptlqvqucvmaeuxto"
enableSsl="true"
from="themoviemb@gmail.com"
to="abritman@gmail.com"
/>
<target name="database" type="Database">
<dbProvider>
                                       Npgsql.NpgsqlConnection,Npgsql,Version=5.0.3,Culture=neutral,PublicKeyToken=5d8b90d52f46fda7
                                    </dbProvider>
<connectionString>
User ID=sa;Password=CraftMyApp2020#;Server=20.244.30.5;Port=5432;Database=jmeterpublish;Pooling=true;SearchPath=public;
</connectionString>
<commandText>
insert into system_logging(log_application,log_date,log_level,log_logger,log_message,log_machine_name, log_user_name, log_call_site, log_thread, log_exception, log_stacktrace) values('JmeterPublishWebApi',@time_stamp, @level, @logger, @message,@machinename, @user_name, @call_site, @threadid, @log_exception, @stacktrace);
</commandText>
<parameter name="@time_stamp" layout="${longdate}"/>
<parameter name="@level" layout="${level}"/>
<parameter name="@logger" layout="${logger}"/>
<parameter name="@message" layout="${message}"/>
<parameter name="@machinename" layout="${machinename}"/>
<parameter name="@user_name" layout="${machinename}"/>
<parameter name="@call_site" layout="${callsite:filename=true}"/>
<parameter name="@threadid" layout="${threadid}"/>
<parameter name="@log_exception" layout="${exception}"/>
<parameter name="@stacktrace" layout="${stacktrace:format=Raw}"/>
</target>
</targets>
<rules>
<logger name="*" minlevel="Error" writeTo="archive,gmail" />
<logger name="*" minlevel="Error" appendTo="database"/>
</rules>
</nlog>

