	/*
  	Flaticon icon font: Flaticon
  	Creation date: 31/01/2021 04:54
  	*/
	
	@font-face {
	  font-family: "Flaticon";
	  src: url("./Flaticon.eot");
	  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"), url("./Flaticon.woff2") format("woff2"), url("./Flaticon.woff") format("woff"), url("./Flaticon.ttf") format("truetype"), url("./Flaticon.svg#Flaticon") format("svg");
	  font-weight: normal;
	  font-style: normal;
	}
	
	@media screen and (-webkit-min-device-pixel-ratio:0) {
	  @font-face {
	    font-family: "Flaticon";
	    src: url("./Flaticon.svg#Flaticon") format("svg");
	  }
	}
	
	[class^="flaticon-"]:before,
	[class*=" flaticon-"]:before,
	[class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
	  font-family: Flaticon;
	  font-size: 40px;
	  font-style: normal;
	}
	
	.flaticon-statistics:before {
	  content: "\f100";
	}
	
	.flaticon-requirement:before {
	  content: "\f101";
	}
	
	.flaticon-api:before {
	  content: "\f102";
	}
	
	.flaticon-file-organizing:before {
	  content: "\f103";
	}
	
	.flaticon-project-management:before {
	  content: "\f104";
	}
	
	.flaticon-configuration:before {
	  content: "\f105";
	}
	
	.flaticon-checklist:before {
	  content: "\f106";
	}
	
	.flaticon-analytics:before {
	  content: "\f107";
	}
	
	.flaticon-startup:before {
	  content: "\f108";
	}
	
	.flaticon-user-experience:before {
	  content: "\f109";
	}