.alphabet-container {
   float: left;
   width: 2%;   
}

.alphabet-container .alphabet-info,
.alphabet-container .alphabet-info-display { 
   display: none 
}

.alphabet-container .alphabet ul,
.alphabet-container .alphabet li,
.alphabet-container .alphabet a {
   display: block;
}

.alphabet-container .alphabet {
   margin:0 15px 0 0;
}

.table {
   float: left;
   width: 98%;
}
table.dataTable {
    
    clear: none; 
}

.alphabet-group td:first-child::before {
   display:none !important;
}


@media only screen and (max-width: 600px) {
  .alphabet-container {
    float: left;
    width: 10%;
}
.table {
    float: left;
    width: 90%;
}
}
