<!-- This code generated from staging Powered by Mahat, Source Machine : stg , Build Number : #2024-07-004 (Updated on 07/07/2024 22:07) on 06/12/2025 10:05:51 -->
@using Microsoft.AspNetCore.Http
<aside class="sidebar">
<div class="scrollbar-inner">
<div class="user">
<div class="user__info" data-toggle="dropdown">
<div>
<div class="user__name" style="color: white">@Context.Session.GetString("JmeterPublishusername")</div>
</div>
<i style="padding-left:20px;" class="fas fa-chevron-down"></i>
</div>
<div class="dropdown-menu">
<a class="dropdown-item" href="@Url.Action("UpdateProfile","users")?usersid=@Context.Session.GetString("JmeterPublishloginUserID")">Update Profile</a>
<a class="dropdown-item" href="@Url.Action("ChangePassword","users")?usersid=@Context.Session.GetString("JmeterPublishloginUserID")">Change Password</a>
<a class="dropdown-item craftmyApp_logout_btn" href="@Url.Action("Logout","users")">Logout</a>
</div>
</div>
<ul class="navigation mainSideMenu">
</ul>
</div>
</aside>

